# DATABASE CONFIG
MYSQL_ROOT_PASSWORD='username'
MYSQL_DATABASE='password'
MYSQL_USER='user'
MYSQL_PASSWORD='password'
MYSQL_HOST='localhost'
MYSQL_PORT=3306

# JWT CONFIG
JWT_SECRET='hyraxarebullshitswithfur'